.places {
  width: 100%;
  margin: 92px 0 0 0;
}

.place__container {
  width: 984px;
  height: 756px;
  margin: 0 auto 80px;
  padding: 0;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: 174px repeat(2, 217px) 70px;
  grid-column-gap: 40px;
  grid-row-gap: 26px;
  grid-template-areas:
    "title artist"
    "image text-1"
    "image text-2"
    "button .";
  position: relative;
}

.place__container_small {
  height: 680px;
  grid-template-rows: 98px repeat(2, 217px) 70px;
}

.place__container_large {
  height: 814px;
  grid-template-rows: 174px repeat(3, 1fr) 70px;
  grid-template-areas:
    "title artist"
    "image text-1"
    "image text-2"
    "button text-3"
    "button text-3";
}

.place__title {
  margin: 0;
  font-family: Inter;
  font-size: 72px;
  font-weight: bold;
  line-height: 1.06;
  color: #fff;
  grid-area: title;
}

.place__title_small {
  font-size: 60px;
  line-height: 1;
}

.place__image {
  width: 460px;
  height: 460px;
  grid-area: image;
  object-fit: contain;
}

.place__button {
  width: 304px;
  height: 48px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.21;
  border-radius: 4px;
  text-decoration: none;
  padding: 13px 20px;
  color: #fff;
  background-color: #0278fe;
  transition: background-color 0.5s ease;
  grid-area: button;
  position: absolute;
  left: 0;
  bottom: 0;
}

.place__button_bottom {
  bottom: 58px;
}

.place__button:hover {
  background-color: #0063d2;
}

.artist {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: artist;
}

.artist__heading {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: 0.12em;
  color: #aaa;
}

.artist__name {
  margin: 8px 0 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
}

.place__paragraph {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  grid-area: text-1;
}

.place__paragraph_small {
  font-size: 16.5px;
  line-height: 1.6;
}

.place__paragraph_mid {
  grid-area: text-2;
}

.place__paragraph_bottom {
  grid-area: text-3;
}

.place__paragraph_bottom-position {
  position: absolute;
  bottom: 0;
}
